      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
          <ng2-toasty [position]="'top-center'"></ng2-toasty>
          <div class="container">
            <div class="page-header">
              <table width="100%">
                <tr>
                  <td><img height="50" src="/assets/HHU.png"/></td>
                  <td>
                  </td>
                </tr>
              </table>
            </div>
            <router-outlet></router-outlet>
          </div>

        </div><!-- /st-content-inner -->
      </div><!-- /st-content -->