<div [class.shake]="errorMessage!=null" [class.animated]="errorMessage!=null">
    <div class="well well-lg center col-sm-6 col-xs-12 col-sm-offset-3 col-xs-offset-0 animated fadeIn">

      <div *ngIf="!resetPassword">
        <p class="lead">Login</p>
        <form>
          <div class="form-group">
            <label for="username">Email</label>
            <input name="username" class="form-control" type="string" [(ngModel)]="username"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" class="form-control" type="password" [(ngModel)]="password"/>
          </div>
          <div class="form-group">
            <button #myButt (click)="login($event)" class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
        <br/>
        <a routerLink="/auth/register">Register a new account</a>
      </div>

      <div *ngIf="resetPassword">
        <p class="lead">Almost there...</p>
        <form>
          <div class="form-group">
            <label for="newPassword">Password</label>
            <input name="newPassword" class="form-control" type="password" aria-describedby="passwordHelp" required [(ngModel)]="newPassword"/>
            <span id="passwordHelp" class="help-block small">As part of your initial sign-in, you need to set a password you will use.</span>
          </div>
          <div class="form-group">
            <button (click)="setNewPassword()" class="btn btn-primary" type="submit">Set Password</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div *ngIf="logging" id="blocker" class="animated" >
    <div class="cssload-loader"></div>
  </div>